# Rust
backend/target/
**/*.rs.bk

# Node.js
frontend/node_modules/
frontend/dist/
frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backend generated static/templates
backend/static/assets/*
backend/static/uploads/*
backend/templates/index.stpl
!backend/static/.gitkeep
!backend/templates/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database files
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.db
db/*.sqlite*
others/*
.env
backend/templates/index.stpl
